openapi: 3.0.3
info:
  title: Universal Scheduling Protocol (USP) Core API
  version: 1.0.0
  description: The standard interface for AI agents to discover, query, and book real-world services.
servers:
  - url: https://api.usp.network/v1
    description: Production Environment

paths:
  /availability:
    get:
      summary: Query normalized real-time availability slots
      description: Returns bookable time slots flattened from native SaaS platforms.
      operationId: getAvailability
      parameters:
        - name: merchant_id
          in: query
          required: true
          schema:
            type: string
        - name: service_id
          in: query
          required: true
          schema:
            type: string
        - name: start_time
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A list of available slots
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilitySlot'
        '400':
          description: Invalid parameters

  /bookings:
    post:
      summary: Execute a booking action
      description: Creates a booking using a specific AvailabilitySlot and Customer data. Must include an idempotency key to prevent double-booking on network retries.
      operationId: createBooking
      headers:
        Idempotency-Key:
          schema:
            type: string
            format: uuid
          required: true
          description: Unique key to ensure the booking action is only executed once.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - slot_id
                - customer_info
              properties:
                slot_id:
                  type: string
                customer_info:
                  $ref: '#/components/schemas/CustomerInfo'
      responses:
        '201':
          description: Booking successfully created or held pending approval.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '409':
          description: Slot is no longer available (Conflict).
        '422':
          description: Validation error or policy rejection.

components:
  schemas:
    AvailabilitySlot:
      type: object
      required:
        - id
        - merchant_id
        - location_id
        - service_id
        - provider_id
        - start_time
        - end_time
        - status
      properties:
        id:
          type: string
          description: Synthetic ID representing this exact time block
        merchant_id:
          type: string
        location_id:
          type: string
        service_id:
          type: string
        provider_id:
          type: string
          nullable: true
          description: Null if pool-based or auto-assigned
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - available
            - held
            - booked

    CustomerInfo:
      type: object
      required:
        - first_name
        - last_name
        - email
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
          description: Optional phone number

    Booking:
      type: object
      required:
        - id
        - external_booking_id
        - idempotency_key
        - merchant_id
        - slot_id
        - customer_info
        - status
        - ai_app_id
        - created_at
      properties:
        id:
          type: string
        external_booking_id:
          type: string
          nullable: true
          description: The ID returned by the SaaS platform (null until confirmed)
        idempotency_key:
          type: string
        merchant_id:
          type: string
        slot_id:
          type: string
        customer_info:
          $ref: '#/components/schemas/CustomerInfo'
        status:
          type: string
          enum:
            - pending
            - held
            - confirmed
            - cancelled
            - failed
        ai_app_id:
          type: string
          description: Audit trail for the AI agent
        created_at:
          type: string
          format: date-time
